@model appointmentMaker.Models.appointmentModel

<h4>appointmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="showDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <!-- adding a new labels-->

             <div class="form-group">
                <label asp-for="emailAddress" class="control-label"></label>
                <input asp-for="emailAddress" class="form-control" />
                <span asp-validation-for="emailAddress" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="patientNumber" class="control-label"></label>
                <input asp-for="patientNumber" class="form-control" />
                <span asp-validation-for="patientNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="zipCode" class="control-label"></label>
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="appointmentDate" class="control-label"></label>
                <input asp-for="appointmentDate" class="form-control" />
                <span asp-validation-for="appointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientNetWorth" class="control-label"></label>
                <input asp-for="patientNetWorth" class="form-control" />
                <span asp-validation-for="patientNetWorth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doctorsName" class="control-label"></label>
                <input asp-for="doctorsName" class="form-control" />
                <span asp-validation-for="doctorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="painLevel" class="control-label"></label>
                <input asp-for="painLevel" class="form-control" />
                <span asp-validation-for="painLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
